.mainHead {
  font-size: 3rem;
  text-align: center;
  background-color: blueviolet;
  color: white;
  font-weight: bolder;
  margin: 0;
  height: 60vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainFigures {
  text-align: center;
  padding: 2rem;
  color: white;
}

.mainFiguresFigure {
  font-size: 4rem;
  font-weight: bolder;
  margin: 1rem;
}

.mainFiguresTitle {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem;
}

.mainFiguresInWords {
  font-size: 1.5rem;
  margin: 1rem;
  text-transform: capitalize;
}

.tableStyle {
  max-height: 80vh;
  margin-bottom: 4rem;
}

.flag {
  height: 20px;
  width: 30px;
  border: 1px solid black;
  vertical-align: middle;
}

.switch {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  padding: 2rem 0 2rem 0;
  margin: 2rem 0 2rem 0;
  font-size: 2rem;
  font-weight: bold;
}

.loader{
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 0 0 2rem 0;
}

.map {
  height: 100vh;
  width: 100%;
}
/********** Large devices only **********/

@media (min-width: 1200px) {
}

/********** Medium devices only **********/

@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Small devices only **********/

@media (min-width: 768px) and (max-width: 991px) {
}

/********** Extra small devices only **********/

@media (max-width: 767px) {
  .mainHead {
    font-size: 2.5rem;
  }
  .mainFiguresFigure {
    font-size: 3.5rem;
  }
  .mainFiguresTitle {
    font-size: 1.7rem;
  }
  .mainFiguresInWords {
    font-size: 1.3rem;
  }
}

/********** Super extra small devices Only **********/

@media (max-width: 620px) {
  .mainHead {
    font-size: 2.2rem;
  }
  .mainFiguresFigure {
    font-size: 3.1rem;
  }
  .mainFiguresTitle {
    font-size: 1.5rem;
  }
  .mainFiguresInWords {
    font-size: 1.1rem;
  }
}

@media (max-width: 479px) {
  .mainHead {
    font-size: 2rem;
  }
  .mainFiguresFigure {
    font-size: 3rem;
  }
  .mainFiguresTitle {
    font-size: 1.3rem;
  }
  .mainFiguresInWords {
    font-size: 1rem;
  }
}
